<section class="d-flex justify-content-around">
  <div>
    <h2>Login</h2>
    <form id="login-form">
      <div class="form-group">
        <label for="login-email">Email address</label>
        <input
          type="email"
          class="form-control"
          id="login-email"
          aria-describedby="emailHelp"
        />
        <small id="emailHelp" class="form-text text-muted">We'll never share
          your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="login-password">Password</label>
        <input
          type="password"
          class="form-control"
          id="login-password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div>
    <h2>Signup</h2>
    <form id="signup-form">
      <div class="form-group">
        <label for="signup-name">Name</label>
        <input
          type="text"
          class="form-control"
          id="signup-name"
        />
      </div>
      <div class="form-group">
        <label for="signup-email">Email address</label>
        <input
          type="email"
          class="form-control"
          id="signup-email"
          aria-describedby="emailHelp"
        />
        <small id="emailHelp" class="form-text text-muted">We'll never share
          your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="signup-password">Password</label>
        <input
          type="password"
          class="form-control"
          id="signup-password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>

<script src="/js/login.js"></script>